body {
    background-color: rgba(238, 238, 238, 0.836);
}

.main{
    display:flex;
    flex-direction:row;
    padding-left:850px;
    background-color:rgb(212, 203, 203);
    border: 5px solid rgb(253, 243, 243);
}

.text_num_pastry{
    display:flex;
    padding-left:1100px;
}

#pastry_text{
    font-family: 'Courier New', Courier, monospace;
}

#hand_img {
    width:50px;
    height:60px;
    border: 1px solid rgb(88, 87, 87);
}

#shop_text {
    width: 300px;
    background-color: darkgrey;
    text-align: center;
    color: white;
}

.shop {
    display:flex;
    flex-direction:column;
    padding-top: 30px;
    align-items:flex-end;
}
.all_shop{
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 200, 200);
    border: 5px solid rgb(207, 200, 200);
    align-items: center;
    height: 1000px;
    margin-right: 20px;;
    
}

.shop_and_buildings{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#choccy_img {
    width:65px;
    height:60px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 161, 132);
}
#choccy_img:hover {
    box-shadow: 0 9px rgb(214, 114, 56);
}

#shopie_img {
    width:65px;
    height:60px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(221, 107, 123);
}
#shopie_img:hover {
    box-shadow: 0 9px rgb(156, 75, 85)
}

#bred_img{
    width:65px;
    height:60px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(128, 211, 125);
}
#bred_img:hover{
    box-shadow: 0 9px rgb(88, 139, 88);
}

#cuppy_img{
    width:65px;
    height:60px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(143, 158, 243);
}
#cuppy_img:hover{
    box-shadow: 0 9px rgb(83, 100, 173);
}

.shop_hand {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    background-color: rgb(180, 177, 184);
    width: 250px;
    height: 90px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(136, 134, 134);
}
#shop_hand:hover {
    box-shadow: 0 9px rgb(124, 124, 124);
}

#hand_num {
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

.shop_biscuit {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    background-color: rgb(180, 177, 184);
    width: 250px;
    height: 90px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(136, 134, 134);
}
#biscuit_price {
    width: 40px;
    height: 40px;
    padding-left: 30px;
}

.shop_pies {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    background-color: rgb(180, 177, 184);
    width: 250px;
    height: 90px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(136, 134, 134);
}
#pie_price {
    width: 40px;
    height: 40px;
    padding-left: 30px;
}

.shop_bread {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    background-color: rgb(180, 177, 184);
    width: 250px;
    height: 90px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(136, 134, 134);
}
#bread_price{
    width: 40px;
    height: 40px;
    padding-left: 30px;
}

.shop_cupcakes {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    background-color: rgb(180, 177, 184);
    width: 250px;
    height: 90px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(136, 134, 134); 
}
#cucpcake_price{
    width: 40px;
    height: 40px;
    padding-left: 30px;
}

#pastry_img {
    width:120px;
    height:100px;
    margin:20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(228, 172, 172);
}
#pastry_img:hover {
    box-shadow: 0 9px rgb(236, 139, 139);
}

#biscuit_img {
    width:120px;
    height:100px;
    margin:20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(190, 138, 108);
}
#biscuit_img:hover {
    box-shadow: 0 9px rgb(233, 119, 43);
}

#pie_img {
    width:120px;
    height:100px;
    margin:20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(179, 66, 75);
}
#pie_img:hover {
    box-shadow: 0 9px rgb(241, 35, 35);
}

#bread_img {
    width:120px;
    height:100px;
    margin:20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(196, 193, 151);
}
#bread_img:hover {
    box-shadow: 0 9px rgb(85, 189, 81);
}

#cupcake_img {
    width:120px;
    height:100px;
    margin:20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(156, 152, 190);
}
#cupcake_img:hover {
    box-shadow: 0 9px rgb(74, 90, 236);
}
.buildings_shop {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    padding-top:5px;
} 


.bakery_build{
    display: flex;
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(199, 164, 164);
    width: 250px;
    height: 90px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(160, 115, 115);
}

.bakery{
    height:1000px;
    width:1900px;
    background-color: rgb(218, 204, 209);
    margin:30px;
}

#bakery_num {
    width: 40px;
    height: 40px;
    padding-left: 50px;
}
#bakery_price {
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

#building_text {
    align-items: center;
    width: 300px;
    text-align:center;
    background-color: darkgrey;
    color: white;
}

.shop_bake_img{
    width: 120px;
    height: 90px;
}