#hand_img {
    width:30px;
    height:30px;
}

#pastry_img {
    width:120px;
    height:100px;
}

#biscuit_img {
    width:120px;
    height:100px;
}

#pie_img {
    width:120px;
    height:100px;
}

#bread_img {
    width:120px;
    height:100px;
}

#cupcakes_img {
    width:120px;
    height:100px;
}
